<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Select: Tip!</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div id="app">
		<!-- v-model을 통해 양방향 바인딩 적용 -->
		<select v-model="selected">
			<option value="">선택하세요!</option>
			<option v-for="option in options" :value="option.value">{{ option.text }}</option>
		</select>
		<div>{{ selected }}</div>
	</div>
	<script src="/vue.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				selected: '',
				options: [
					{text: 'Vue.js', value:'뷰'},
					{text: 'React', value:'리액트'},
					{text: 'Angular', value:'앵귤러'},
					{text: 'jQuery', value:'제이쿼리'},
				]
			}
		});
	</script>
</body>
</html>