<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>다수의 input[type=radio]</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div id="app">
		<!-- v-model을 통해 양방향 바인딩 적용 -->
		One: <input type="radio" v-model="picked" value="One"><br>
		Two: <input type="radio" v-model="picked" value="Two"><br>
		Three: <input type="radio" v-model="picked" value="Three"><br>
		Four: <input type="radio" v-model="picked" value="Four"><br>
		<div>{{ picked }}</div>
	</div>
	<script src="/vue.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				picked: ''
			}
		});
	</script>
</body>
</html>