<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ToDo Application</title>
	<link rel="stylesheet" href="todo.css">
</head>
<body>
	<div id="app">
		<h1>ToDo</h1>
		<div class="todo-list">
			<input type="text" v-ime-model="inputTodo" @keydown.enter="addTodo" placeholder="할 일을 적어주세요!" ref="inputDom">
			<label>
				할 일: <input type="radio" value="active" v-model="type">
			</label>			
			<label>
				한 일: <input type="radio" value="success" v-model="type">
			</label>
			
			<template v-if="type === 'active'">
				<ul>
					<li v-for="todo in activeTodos">
						<div class="todo-item">
							{{ todo.message }}
						</div>
						<div class="success-button" @click="success(todo)">
							Success!
						</div>
					</li>
				</ul>
			</template>

			<template v-else-if="type === 'success'">
				<ul>
					<li v-for="todo in successTodos">
						<div class="todo-item">
							{{ todo.message }}
						</div>
						<div class="rollback-button" @click="rollback(todo)">
							Rollback!
						</div>
					</li>
				</ul>
			</template>			
		</div>
	</div>
	<script src="/vue.js"></script>
	<script src="/vue-ime-model.min.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: {
				inputTodo: '',
				todos: [
					{ type: 'active', message: '설거지 하기'},
					{ type: 'active', message: '빨래 하기'},
				],
				type: 'active'
			},
			methods: {
				addTodo: function() {
					if(this.inputTodo)
					{
						this.todos.push({
							type: 'active', 
							message: this.inputTodo
						});
						this.inputTodo = '';
						this.$refs.inputDom.focus();
					}
				},
				success: function(todo) {
					todo.type = 'success';
				},
				rollback: function(todo) {
					todo.type = 'active';
				}
			},
			computed: {
				activeTodos: function() {
					return this.todos.filter(function(todo) {
						return todo.type === 'active';
					});
				},
				successTodos: function() {
					return this.todos.filter(function(todo) {
						return todo.type === 'success';
					});
				}
			}
		});
	</script>
</body>
</html>