<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ToDo Application</title>
	<link rel="stylesheet" href="todo.css">
</head>
<body>
	<div id="app">
		<h1>ToDo</h1>
		<div class="todo-list">
			<input type="text" v-ime-model="inputTodo" @keydown.enter="addTodo" placeholder="할 일을 적어주세요!" ref="inputDom">
			<label>
				할 일: <input type="radio" value="active" v-model="type">
			</label>			
			<label>
				한 일: <input type="radio" value="success" v-model="type">
			</label>

			<todo-list :type="type" ref="todoList"></todo-list>
		</div>
	</div>

	<template id="todo-list">
		<ul v-if="type === 'active'">
			<li v-for="todo in activeTodos" is="todo-item" :type="type" :todo="todo" v-on:success-event="success">
			</li>
		</ul>

		<ul v-else-if="type === 'success'">
			<li v-for="todo in successTodos" is="todo-item" :type="type" :todo="todo" v-on:rollback-event="rollback">
			</li>
		</ul>
	</template>

	<template id="todo-item">
		<li>
			<div class="todo-item">
				{{ todo.message }}
			</div>
			<div v-if="type==='active'" class="success-button" @click="success">
				Success!
			</div>
			<div v-else-if="type==='success'" class="rollback-button" @click="rollback">
				Rollback!
			</div>
		</li>
	</template>

	<script src="/vue.js"></script>
	<script src="/vue-ime-model.min.js"></script>
	<script src="todo.js"></script>
</body>
</html>